# Visual Studio temporary files
.vs
packages
libzip/x64
# The following files are generated during the NuGetPack.ps1 packaging process and should not appear in the Git repository.
libzip/NuGetPack/README.md
libzip/NuGetPack/LICENSE.txt
libzip/NuGetPack/build/native/include/zip.h
libzip/*.nupkg
*.pdb
*.idb
*.lib